<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>potato</h1>

    <input type="file" id="file" />

    <h4>Pause and play file upload</h4>

    <input type="file" name="" id="pauseFile" />
    <br/>
    <button onclick="PauseAndContinueFileUpload()">Upload File</button>
    <button onclick="stopFileUpload()">Pause File Upload</button>
    <div class="progress" id="progress-bar">
      <div
        class="progress-bar"
        id="uploadProgress"
        role="progressbar"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    
    <script src="./app.js"></script>
  </body>
</html>
